.aboutdiv {
    font-size: small;
    border: 5px solid black;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: pink;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-align: center;
    display: block;
    margin-top: 30px;
 } 

 