.aboutdiv {
    font-size: medium;
    font-style: italic;
    border: 5px solid black;
    background-color: pink;
    align-items: center;
    margin: 10px 50px 100px 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}


a{
    font-size: large;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
 } 



 