.bfootdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: pink;
    position: absolute;
    bottom: 0;
    min-height: 70px;
    justify-content: center;
    align-items:center;
}

