.mdiv {
    font-size: large;
    border: 5px solid black;
    margin: 50px 1000px 300px 10px;
    background-color: pink;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}