.CFOShopForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CFOShopForm input {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: 15px;
}
.CFOShopForm button {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 5px;
  background-color: pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CustomerForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CustomerForm input {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: 15px;
}
.CustomerForm button {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 5px;
  background-color: pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

