/*styling.css*/
/*add font family, background image*/

body {
  color: #5bc0de;
  font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 2em;
  font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

.jumbotron p {
  font-size: 1em;
}

/*map*/
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}
