.navdiv {
  display: flex;
  background-color: rgb(253, 163, 178);

  height: 130px;
  align-items: stretch;
}

.navul {
  display: flex;
  list-style: none;
  line-height: 180%;
  text-decoration: none;
  list-style: none;
}
