.navdiv {
    display: flex;
    background-color: pink;
    
    height: 90px;
    align-items: stretch;
}



.navul {
    display: flex;
    list-style: none;
    line-height: 180%;
    text-decoration: none;
    list-style: none;
}